PySide6 == 6.9.0
PySide6-stubs
PySideSix-Frameless-Window
darkdetect
colorthief
scipy
pillow
qasync
numpy
pyqtgraph
pandas==2.2.3
numba
ccxt
PyOpenGL
cython
pandas-datareader
arrow
setuptools
python-rapidjson
humanize
websockets
psygnal
click
winloop
pywin32