#titleLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC',  'Arial';
    font-weight: bold;
    color: #d1d4dc;
    background-color: transparent;
}

#contentLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC',  'Arial';
    color: #d1d4dc;
    background-color: transparent;
}