ToolTip {
    border-radius: 4px;
}

ToolTip > #container {
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(28, 28, 28);
    border-radius: 4px;
}

ToolTip>#container[transparent=true] {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 50);
}

QLabel {
    background-color: transparent;
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC',  'Arial';
    color: #d1d4dc;
    border: none;
}
