TitleBar {
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgb(249, 249, 249);
    outline: none;
    color: rgba(255, 255, 255, 0.1);
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC',  'Arial';
}